.text {
  color: rgb(175, 60, 228);
}
.container {
  display: flex;
  padding: 10px;
}
.aboutMovie {
  padding: 20px;
}
.btn {
  padding: 5px;
  font-weight: 900;
  font-size: 26px;
  background-color: rgb(191, 136, 243);
  border-radius: 5px;
}
.btn:hover,
.btn:focus{
    background-color: rgb(61, 46, 75);
}
